@use '../../variables' as v


.header_container
  position: sticky
  top: 0
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  height: v.$large-size
  width: 100%
  background-color: v.$main-color

.header_logo
  height: 100%
  background-color: v.$secondary-color
  width: v.$default-size * 3
  display: flex
  justify-content: space-between
  align-items: center
  text-align: center
  svg
    height: 100%
    transform: translateX(1px)
  p
    margin-left: v.$small-size
    span
      font-size: v.$large-font-size


.header_links
  color: v.$secondary-color
  display: flex
  text-transform: uppercase
  justify-content: center
  align-items: center
  text-align: center
  gap: v.$small-size
  border-radius: v.$small-size
  height: 100%

  p
    cursor: pointer
    margin-left: v.$small-size
    margin-right: v.$small-size



.header_right
  display: flex
  justify-content: center
  align-items: center
  height: 100%
  width: v.$default-size * 2
  color: v.$secondary-color

  svg
    height: v.$small-size
    width: v.$small-size

.active_page
  color: v.$tertiary-color