@use '../../variables' as v
header
  position: sticky
  top: 0
  z-index: 10
  transform: translateY(-1px)
.header_menu
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%
  height: 100%
  background-color: v.$main-color

.header_container
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  height: v.$large-size
  width: 100%

.header_logo
  height: 100%
  width: v.$default-size * 3
  backdrop-filter: blur(1px)
  display: flex
  justify-content: space-between
  align-items: center
  text-align: center
  svg
    height: 100%
    transform: translateX(1px)
  p
    margin-left: v.$small-size
    span
      font-size: v.$large-font-size


.header_links
  color: v.$secondary-color
  display: flex
  justify-content: center
  align-items: center
  text-align: center
  gap: v.$small-size
  border-radius: v.$small-size
  height: 100%

  p
    text-transform: uppercase
    cursor: pointer
    position: relative
    margin-left: v.$small-size
    margin-right: v.$small-size

    &::after
      content: ''
      position: absolute
      bottom: -3px
      left: 0
      width: 0.6em
      height: 2px
      background-color: v.$secondary-color
      transition: width 0.3s ease
    &:hover::after
      width: 50%


.dropdown_component
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  position: relative


.dropdown_content
  overflow: hidden
  top: 100%
  left: v.$small-size
  position: absolute
  backdrop-filter: blur(1px)
  min-width: 6 * v.$default-size
  z-index: 1
  transition: height 0.3s ease, width 0.3s ease
  border-bottom-left-radius: 0.3em
  border-bottom-right-radius: 0.3em
  a
    color: black

    height: v.$default-size
    background: rgba(255,255,255,1)
    text-decoration: none
    display: flex
    justify-content: left
    align-items: center
    transition: 0.3s ease

    &:hover
      background: rgba(255,255,255,1)
    p
      margin-left: v.$small-size * 2
      text-transform: lowercase
      transition: color 0.3s ease, background-color 0.3s ease
      &::after
        display: none
      &::before
        content: url("$lib/icons/play-fill.svg")
        position: absolute
        transform: translateX(calc( -1em - 100%))
        transition: 0.3s ease
      &:hover::before
        transform: translateX(300%)
        opacity: 0




.header_right
  display: flex
  justify-content: center
  align-items: center
  height: 100%
  width: v.$default-size * 2
  color: v.$secondary-color
  gap: v.$small-size

  svg
    height: v.$small-size
    width: v.$small-size

.active_page
  color: v.$tertiary-color

#burger_header
  display: none

@media (min-width: 0px) and (max-width: 699px)
  .header_links
    display: none
  #burger_header
    display: block
  .header_menu
    justify-content: right
  .header_container
    height: v.$large-size * 0.8
  .header_logo
    p
      font-size: v.$large-font-size * 0.6
      span
        font-size: v.$large-font-size * 0.8


//tablet
@media (min-width: 700px) and (max-width: 799px)
  .header_links
    gap: 0
    p
      font-size: v.$small-font-size * 1.2

@media (min-width: 800px) and (max-width: 1199px)
  .header_links
    gap: 0
    p
      font-size: v.$default-font-size



//laptops
@media (min-width: 1200px) and (max-width: 1799px)
  .header_links
    gap: 0
//extra large To do ?
@media (min-width: 1800px)
  .header_links
    gap: v.$small-size
