@use 'variables' as v



.page
  width: 100%
  margin-top: v.$default-size
  section
    margin-bottom: v.$default-size

.header_pvk
  margin-left: v.$default-size

.colored_header_pvk
  color: v.$tertiary-color

.presentation_video
  height: v.$large-size * 5
  width: 100%
  position: relative
  overflow: hidden


.sci-fi-bg
  z-index: -1
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%
  background-image: url('$lib/images/sci-fi-bg.webp')
  background-size: cover
  background-position: center
  filter: blur(2px)

.dark-filter
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%
  background-color: rgba(0,0,0,0.9)


.top_left_deco
  position: absolute
  top: 0
  left: 0
  height: v.$default-size
  display: flex
  justify-content: center
  align-items: center

  div
    height: 100%
    width: v.$large-size * 3
    background-color: v.$secondary-color

  svg
    height: v.$default-size
    color: v.$secondary-color

.bottom_right_deco
  position: absolute
  bottom: 0
  right: 0
  height: v.$default-size
  display: flex
  justify-content: center
  align-items: center
  transform: scaleY ( -1 )

  div
    height: 100%
    width: v.$large-size * 3
    background-color: v.$secondary-color

  svg

    height: v.$default-size
    color: v.$secondary-color
    -webkit-transform: scaleY(-1)
    transform: scaleY(-1)


.paragraph_container
  padding-left: v.$large-size * 3
  padding-right: v.$large-size * 3

.double_paragraph
  position: relative
  height: v.$large-size * 4
  margin-left: v.$large-size * 2
  margin-right: v.$large-size * 2

.left_prgph_container
  position: absolute
  left: 0
  top: 0
  width: 50%
  height: 100%
  p
    height: 100%

.right_prgph_container
  position: absolute
  right: 0
  top: 0
  width: 50%
  height: 100%
  p
    height: 100%

.img_container
  background-color: v.$main-color

.specs_container
  display: flex
  gap: v.$default-size
  height: v.$large-size * 4
  margin-left: v.$large-size * 2
  margin-right: v.$large-size * 2
  li
    margin-bottom: v.$small-size / 2

.pf3_options
  width: 50%

.spec_header
  display: flex
  justify-content: center
  align-items: center
  height: v.$large-size
  border-bottom: solid black 1px
  margin-left: v.$large-size * 4
  margin-right: v.$large-size * 4

.pf3_specs
  width: 50%
