$main-color : black
$secondary-color : #fefefa
$tertiary-color : #ff5050

$default-size : 3em
$small-size : 1.5em
$large-size : 4em

$default-font-size : 1em
$small-font-size : 0.7em
$large-font-size : 1.5em
$huge-font-size : 2.5em

