@use 'variables' as v

@import "components/Header/header", "page", "components/Footer/footer", "components/3DViewer/threedviewer"

@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap')

@font-face
  font-family: 'Continuum'
  font-weight: normal
  font-style: normal
  src: url('$lib/fonts/continuum/contm.ttf') format('truetype')

@font-face
  font-family: 'Continuum'
  font-weight: bold
  font-style: normal
  src: url('$lib/fonts/continuum/contb.ttf') format('truetype')

@font-face
  font-family: 'Continuum'
  font-weight: normal
  font-style: italic
  src: url('$lib/fonts/continuum/conti.ttf') format('truetype')

.font-continuum
  font-family: 'Continuum', sans-serif

@font-face
  font-family: "karu"
  src: local('karu'), local('karu'), url("$lib/fonts/karu-font-family/Karu/karu-extralight.ttf") format('ttf')

p
  @extend .font-continuum
  letter-spacing: 2px

// phone
@media (min-width: 0) and (max-width: 599px)
  p
    font-size: v.$default-font-size * 0.9
    text-autospace: punctuation
    font-family: "lato", sans-serif
    text-align: justify
    word-break: break-word

  h1
    font-size: v.$huge-font-size * 2
//tablet
@media (min-width: 600px) and (max-width: 1199px)
  p
    font-size: v.$default-font-size * 0.9
  h1
    font-size: v.$huge-font-size * 1.1
//laptops
@media (min-width: 1200px) and (max-width: 1799px)
  p
    font-size: v.$default-font-size * 1.2
  h1
    font-size: v.$huge-font-size * 1.2
//extra large To do ?
@media (min-width: 1800px)
  p
    font-size: v.$default-font-size * 1.4
  h1
    font-size: v.$huge-font-size * 1.4

h1
  @extend .font-continuum
  letter-spacing: 2px

a
  font-family: 'Danley', serif
  letter-spacing: 2px
  font-size: v.$default-font-size

body
  position: sticky
  -ms-overflow-style: none
  scrollbar-width: none
  ::-webkit-scrollbar
    display: none

.paper_bg
  position: absolute
  z-index: -200
  background-image: url('$lib/images/paper-texture.jpg')
  background-size: cover
  background-position: center
  height: 100%
  width: 100%
  opacity: 0.5

.app
  position: relative
  -ms-overflow-style: none
  scrollbar-width: none
  ::-webkit-scrollbar
    display: none

*
  user-select: none
  box-sizing: border-box
  -ms-overflow-style: none
  scrollbar-width: none
  ::-webkit-scrollbar
    display: none

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  vertical-align: baseline

article, aside, details, figcaption, figure,
header, hgroup, main, menu, nav, section
  display: block

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden]
  display: none

body
  line-height: 1

menu, ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after,
q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0
